<section id="recent-articles">
  <div id="recent-articles-header">
    <div id="recent-articles-title">
      <h1 class="card-title">Creative Coding</h1>
    </div>
  </div>
  <br />

  <ul style="display: flex;
             justify-content: flex-start;
             gap: 1em;
             flex-wrap: wrap;">
    {% for sketch in site.data.portfolio.sketches %}
    <li class="article-card">
        <a href="{{sketch.url}}">
            <video width=300px height=300px title="{{sketch.alt}}" poster="{{site.url}}{{site.baseurl}}/assets/img/sketches/{{sketch.image}}" autoplay loop muted>
                <source src="{{site.url}}{{site.baseurl}}/assets/img/sketches/{{sketch.video}}" type="video/webm"/>
            </video>
        </a>
    </li>
    {% endfor %}
  </ul>

  <ul>
    {% for post in site.posts limit:5 %}
    <li class="article-card">
      <a href="{{post.url}}" class="article-card-link">
        <div id="article-container">
          <div id="article-img">
            {% if post.author %}
              {% assign author = post.author %}
              {% if author %}
               {% assign author_data = site.data.authors[author] %}
               <img
                src="{{site.url}}{{site.baseurl}}/assets/img/authors/{{author_data.avatar}}"
                width="50px"
                height="50px"
             />
              {% endif %}
            {% endif %}

          </div>
          <div id="article-link">
              <p class="recent-article-link">{{post.title}} <span style="color: #ccc; font-size: 15px;"> - <i><time datetime="{{ post.date }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time></i></span></p>
            </div>
            <div id="article-alert">
            {% for cat in post.category limit:1 %}
             <button class="btn btn-sm btn-dark">{{cat}}</button>
            {% endfor %}
            </div>
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>
</section>

<section id="games">
  <div id="games-header">
    <div id="games-title">
      <h1 class="card-title">Game Projects</h1>
    </div>
  </div>
  <br />

  <ul style="display: flex;
             justify-content: flex-start;
             gap: 1em;
             flex-wrap: wrap;">
    {% for game in site.data.portfolio.games %}
    <li class="article-card">
        <p>{{game.title}}</p> 
        <a href="{{game.url}}">
            <img src="{{site.url}}{{site.baseurl}}/assets/img/{{game.image}}" alt="{{game.alt}}" />
        </a>
    </li>
    {% endfor %}
  </ul>

